[Unit]
Description=Puma HTTP Server for codingtutor (prod)
After=network.target


[Service]
Type=simple
User=deploy
WorkingDirectory=/home/deploy/deploy/current
# Support older bundler versions where file descriptors weren't kept
# See https://github.com/rubygems/rubygems/issues/3254
ExecStart=/home/deploy/.rvm/bin/rvm default do bundle exec --keep-file-descriptors puma -C /home/deploy/deploy/current/config/puma/production.rb
ExecReload=/bin/kill -USR1 $MAINPID
StandardOutput=append:/home/deploy/deploy/shared/log/puma_access.log
StandardError=append:/home/deploy/deploy/shared/log/puma_error.log


Restart=always
RestartSec=1

SyslogIdentifier=puma

[Install]
WantedBy=multi-user.target