<section class="py-5">
  <div class="container text-center py-5">
    <h2 class="">
      <span class="hero-text">
        Fast-Track Your Progress through Personalized 1-on-1 Mentorship
      </span>
    </h2>
    <div class="seperator-line"></div>
    <p
      class="text-muted mb-5 col-md-8 col-xl-4 col-xxl-6 text-center mx-auto pt-3"
    >
      Refine Your Focus and Forge a Strong Foundation, Empowering You to Select Your Ideal Job Path. No More Settling for Less. Our Mentorship Program Equips You to Master Every Aspect of Full Stack Development.
    </p>

    <div class="curriculum-pyramid">

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">WEB SECURITY</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">REST</div>
        <div class="brick">SOAP</div>
        <div class="brick">GRAPHQL</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">MVC</div>
        <div class="brick">MVP</div>
        <div class="brick">MVI</div>
        <div class="brick">MVMM</div>
        <div class="brick">VIPER</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">SOLID</div>
        <div class="brick">DRY</div>
        <div class="brick">KISS</div>
        <div class="brick">ORTHOGONOLITY</div>
        <div class="brick">DESIGN PATTERNS</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">PROGRAMMING LANGUAGE</div>
        <div class="brick">DATA STRUCTURES</div>
        <div class="brick">STANDARD LIBRARY</div>
        <div class="brick">GEMS/PLUGINS/PACKAGES</div>
        <div class="brick">OBJECT ORIENTED DESIGN</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">DNS</div>
        <div class="brick">WEB SERVER</div>
        <div class="brick">REVERSE PROXY</div>
        <div class="brick">SSL</div>
        <div class="brick">DEPLOYMENT STRATEGIES</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">DOCKER</div>
        <div class="brick">DOCKER COMPOSE</div>
        <div class="brick">REVERSE PROXY</div>
        <div class="brick">DATA & BACKUPS</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">ERROR TRACKING</div>
        <div class="brick">MONITORING</div>
        <div class="brick">CI/CD</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">SCALING UP</div>
      </div>

    </div>

                  <%= image_tag "svg/path.svg", class: 'img-fluid' %>

    <p class="text-muted mb-5 col-md-8 col-xl-4 col-xxl-6 text-center mx-auto pt-5">
      Experience Comprehensive Exploration: Delve Beyond Boundaries as We Navigate Through a Spectrum of Independent Components, Ensuring Your Mastery of Interviewing Skills and Upskilling.
    </p>

    <div class="col-12 col-lg-10 mx-auto connected-arch">
      <div
        class="position-relative d-flex gap-3"
      >
        <div
        >
          <div class="card bg-primary-subtle">
            <div class="card-body text-center px-4 py-5 px-md-5">
              <h5 class="fw-bold card-title mb-3">HR Interview</h5>
              <p class="card-text">
                Building your confidence in selling yourself.
              </p>
            </div>
          </div>
        </div>
        <div
        >
          <div class="card bg-primary-subtle">
            <div class="card-body text-center px-4 py-5 px-md-5">
              <h5 class="fw-bold card-title mb-3">Behavoural Interview</h5>
              <p class="card-text">
                Preparing you to answer the most common questions.
              </p>
            </div>
          </div>
        </div>
        <div
        >
          <div class="card bg-primary-subtle">
            <div class="card-body text-center px-4 py-5 px-md-5">
              <h5 class="fw-bold card-title mb-3">Technical Interview</h5>
              <p class="card-text">Mastering the tool of your choice.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>