<section class="py-5 mt-5">
  <div class="container py-5">
    <div class="row mb-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2 class="">FAQs</h2>

        <div class="accordion pt-5" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse1"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                How is it different from bootcamp?
              </button>
            </h2>
            <div
              id="collapse1"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Bootcamps teach people how to do a generic task. They are often
                broad and do not cover all the grounds you need to be successful
                at interviews and in your job. They are also expensive and do
                not provide 1-on-1 mentorship. However, we provide 1-on-1
                mentorship and all the support you need to be successful at your
                interviews and in your job.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Why not just learn from free resources?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                We encourage you to learn on your own from high quality
                resources available online like Mozilla Developer Network,
                Google Developers, FreeCodeCamp or Coursera. However, our
                experiences suggest that you will need a clear path to follow
                and a mentor to guide you through the process to avoid burnout
                and frustration.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                How long will it take to get a job?
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                In short, it depends on where you are at and what you want to
                achieve. In general, it takes 3-6 months to get a job. However,
                we have seen people getting a job in 1 month and some people
                taking 1 year. It all depends on your current skill level and
                how much time you are willing to put in.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                What is the cost?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Please visit our pricing page for more details.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>