<section>
  <div class="container py-5">
    <div class="row mb-5">
      <div class="text-center mx-auto">
        <h2 class="">Embrace Unlearning and Rediscover Mastery</h2>
        <div class="seperator-line mx-auto"></div>
        <p
          class="text-muted mb-5 col-md-8 col-xl-4 col-xxl-6 text-center mx-auto pt-3"
        >
          Let us guide you in shedding counterproductive habits and embracing optimal methodologies. Drawing from our insight into interviewer preferences, we'll steer you away from pitfalls like the ones below. Prepare to elevate your coding approach by refining it for enhanced readability, maintainability, and scalability—without succumbing to over-engineering.
        </p>
        <div>
          <img
            src="https://res.cloudinary.com/dpugbcmpg/image/upload/v1690451378/mistake_gn6jqp.png"
            alt="coding mistake you don't want to make in interview"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>