<section>
  <div class="container py-5">
    <div class="row mb-5">
      <div class="text-center mx-auto">
        <h2 class="">Un-Learn and Re-Learn</h2>
        <p
          class="text-muted mb-5 col-md-8 col-xl-4 col-xxl-6 text-center mx-auto pt-3"
        >
          We will help you to unlearn the bad habits and relearn the best
          practices. We know what interviewers don't like to see in your code
          and avoid mistakes like the following. We will teach you to
          over-engineer your code to make it more readable, maintainable and
          scalable.
        </p>
        <div>
          <img
            src="https://res.cloudinary.com/dpugbcmpg/image/upload/v1690451378/mistake_gn6jqp.png"
            alt="coding mistake you don't want to make in interview"
            height="400"
          />
        </div>
      </div>
    </div>
  </div>
</section>