<section class="container">
  <div class="row pt-5">
    <div class="col col-md-4">
      <div class="card bg-primary-subtle">
        <div class="card-body p-4">
          <div class="d-flex gap-3 justify-content-center align-items-center">
            <span>
              <%= image_tag "svg/one-on-one.svg", height: 50 %>
            </span>
            <span>
              <h5 class="fw-bold mb-3">1-on-1 Tutoring</h5>
              <p class="card-text">Personalized training for your skill level - beginner to mid-level.</p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card bg-primary-subtle">
        <div class="card-body p-4">
            <div class="d-flex gap-3 justify-content-center align-items-center">
              <span>
                <%= image_tag "svg/high-quality.svg", height: 50 %>
              </span>
              <span>
                <h5 class="fw-bold card-title mb-3">
                  100+ High Quality Resources
                </h5>
                <p class="card-text">High Quality resources to learn right way of doing things.</p>
              </span>
            </div>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card bg-primary-subtle">
        <div class="card-body p-4">
            <div class="d-flex gap-3 justify-content-center align-items-center">
              <span>
                <%= image_tag "svg/interview.svg", height: 50 %>
              </span>
              <span>
            <h5 class="fw-bold card-title mb-3">Mock Interviews</h5>
            <p class="card-text">Mock interviews to track your progress and keep building your skills.</p>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>