<section class="container">
  <div class="row pt-5">
    <div class="col col-md-4">
      <div class="card bg-primary-subtle">
        <div class="card-body px-4 py-5 px-md-5">
          <div class="d-flex gap-3 justify-content-center align-items-center">
            <span>
              <%= image_tag "svg/one-on-one.svg", height: 50 %>
            </span>
            <span>
              <h5 class="fw-bold mb-3">1-on-1 Tutoring</h5>
              <p class="card-text">Tailored Guidance for Every Level of Expertise - From Novices to Seasoned Professionals. We are here to help.</p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card bg-primary-subtle">
        <div class="card-body px-4 py-5 px-md-5">
            <div class="d-flex gap-3 justify-content-center align-items-center">
              <span>
                <%= image_tag "svg/high-quality.svg", height: 50 %>
              </span>
              <span>
                <h5 class="fw-bold card-title mb-3">
                  100+ HQ Resources
                </h5>
                <p class="card-text">Elevate Your Learning with Premium Resources for Mastering the Right Way to Get Things Done.</p>
              </span>
            </div>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card bg-primary-subtle">
        <div class="card-body px-4 py-5 px-md-5">
            <div class="d-flex gap-3 justify-content-center align-items-center">
              <span>
                <%= image_tag "svg/interview.svg", height: 50 %>
              </span>
              <span>
            <h5 class="fw-bold card-title mb-3">Mock Interviews</h5>
            <p class="card-text">Sharpen Your Skills and Measure Your Growth Through Invigorating 1-on-1 Mock Interviews.</p>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>