<div class="container p-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="h1 text-center">Blog</h1>
      <div class="seperator-line"></div>
      <p>Coming Soon...</p>
    </div>
  </div>
</div>