<header class="hero-background">
  <div class="container pt-4 pt-xl-5">
    <div class="row pt-5 pb-5">
      <div
        class="col-md-10 col-xl-6 col-xxl-7 text-center text-md-start mx-auto jumbotron"
      >
        <div class="text-left typewriter">
          <h1 class="fw-bold">
            <span class="hero-text text-light">
              Learn Full Stack Development from the mentor who is in the
              industry for 5+ years.</span
            >
          </h1>
          <p class="fw-bolds mb-2 write subheading">
            Get ahead on the game with proven strategies and techniques to crack
            the first job interview.
          </p>

          <div class="pt-5 d-flex gap-3">
            <div class="btn btn-primary">
              <a
                href="https://calendly.com/codingtutor/30min"
                class="text-light"
                >Book a mentorship</a
              >
            </div>
            <div class="btn btn-primary">
              <a
                href="https://calendly.com/codingtutor/30min"
                class="text-light"
                >Book a free 30 min session</a
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-play-circle"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <polygon points="10 8 16 12 10 16 10 8"></polygon>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="container">
  <div class="row pt-5">
    <div class="col-md-4">
      <div class="card bg-primary-subtle one-on-one-card">
        <div class="card-body text-center px-4 py-5 px-md-5">
          <h5 class="fw-bold card-title mb-3">1-on-1 Tutoring</h5>
          <p class="card-text">Mastering the tool of your choice.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-primary-subtle">
        <div class="card-body text-center px-4 py-5 px-md-5">
          <div class="d-flex gap-3">
            <div>
              <h5 class="fw-bold card-title mb-3">
                100+ High Quality Resources
              </h5>
              <p class="card-text">Mastering the tool of your choice.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-primary-subtle">
        <div class="card-body text-center px-4 py-5 px-md-5">
          <div class="d-flex gap-3">
            <div>
              <h5 class="fw-bold card-title mb-3">Mock Interviews</h5>
              <p class="card-text">Mastering the tool of your choice.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container text-center py-5">
    <h2 class="">
      <span class="hero-text fw-bold">
        Accelerate Your Learning with 1-on-1 Mentorship
      </span>
    </h2>
    <div class="seperator-line"></div>
    <p
      class="text-muted mb-5 col-md-8 col-xl-4 col-xxl-6 text-center mx-auto pt-3"
    >
      We will help you to narrow down your focus and build a solid foundation to
      make you dangerous enough to to choose the job you
      want instead of being forced to take the first job that comes along.
      Our mentorship program is designed to help you to cover all the nuts and bolts of the full stack development.
    </p>

    <div class="curriculum-pyramid">

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">WEB SECURITY</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">REST</div>
        <div class="brick">SOAP</div>
        <div class="brick">GRAPHQL</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">MVC</div>
        <div class="brick">MVP</div>
        <div class="brick">MVI</div>
        <div class="brick">MVMM</div>
        <div class="brick">VIPER</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">SOLID</div>
        <div class="brick">DRY</div>
        <div class="brick">KISS</div>
        <div class="brick">ORTHOGONOLITY</div>
        <div class="brick">DESIGN PATTERNS</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">PROGRAMMING LANGUAGE</div>
        <div class="brick">DATA STRUCTURES</div>
        <div class="brick">STANDARD LIBRARY</div>
        <div class="brick">GEMS/PLUGINS/PACKAGES</div>
        <div class="brick">OBJECT ORIENTED DESIGN</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">DNS</div>
        <div class="brick">WEB SERVER</div>
        <div class="brick">REVERSE PROXY</div>
        <div class="brick">SSL</div>
        <div class="brick">DEPLOYMENT STRATEGIES</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">DOCKER</div>
        <div class="brick">DOCKER COMPOSE</div>
        <div class="brick">REVERSE PROXY</div>
        <div class="brick">DATA & BACKUPS</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">ERROR TRACKING</div>
        <div class="brick">MONITORING</div>
        <div class="brick">CI/CD</div>
      </div>

      <div class="d-flex wall flex-wrap justify-content-center">
        <div class="brick">SCALING UP</div>
      </div>

    </div>

    <p class="text-muted mb-5 col-md-8 col-xl-4 col-xxl-6 text-center mx-auto">
      We will be looping through the following independent components to make
      sure you keep practicing one skill while learning another.
    </p>

    <div class="col-12 col-lg-10 mx-auto connected-arch">
      <div
        class="position-relative"
        style="
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          gap: 2rem;
        "
      >
        <div
          style="
            position: relative;
            flex: 0 0 30%;
            transform: translate3d(-15%, 35%, 0);
          "
        >
          <div class="card bg-warning-subtle">
            <div class="card-body text-center px-4 py-5 px-md-5">
              <h5 class="fw-bold card-title mb-3">HR Interview</h5>
              <p class="card-text">
                Building your confidence in selling yourself.
              </p>
            </div>
          </div>
        </div>
        <div
          style="
            position: relative;
            flex: 0 0 30%;
            transform: translate3d(-15%, 35%, 0);
          "
        >
          <div class="card bg-warning-subtle">
            <div class="card-body text-center px-4 py-5 px-md-5">
              <h5 class="fw-bold card-title mb-3">Behavoural Interview</h5>
              <p class="card-text">
                Preparing you to answer the most common questions.
              </p>
            </div>
          </div>
        </div>
        <div
          style="
            position: relative;
            flex: 0 0 30%;
            transform: translate3d(-15%, 35%, 0);
          "
        >
          <div class="card bg-warning-subtle">
            <div class="card-body text-center px-4 py-5 px-md-5">
              <h5 class="fw-bold card-title mb-3">Technical Interview</h5>
              <p class="card-text">Mastering the tool of your choice.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container bg-secondary-gradient py-5">
    <div class="row">
      <div class="text-center">
        <h3 class="">Get results faster</h3>
        <p
          class="text-muted mb-5 col-md-8 col-xl-4 col-xxl-6 text-center mx-auto pt-3"
        >
          We will help you to know where you stand and what you need to do to
          get to where you want to be.
        </p>
      </div>
    </div>

    <div class="py-5">
      <div class="mx-auto" style="max-width: 900px">
        <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
          <div class="col mb-4">
            <div class="card bg-warning-subtle">
              <div class="card-body text-center px-4 py-5 px-md-5">
                <p class="fw-bold card-text mb-2">
                  Step 1: Assesment & Retention
                </p>
                <p class="card-title mb-3">
                  We will assess your current skill level and create a plan to
                  achieve your goals.
                </p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card bg-warning-subtle">
              <div class="card-body text-center px-4 py-5 px-md-5">
                <p class="fw-bold card-text mb-2">
                  Step 2: Learning & Reviewing
                </p>
                <p class="card-title mb-3">
                  We will work together to build your skills and confidence.
                </p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card bg-warning-subtle">
              <div class="card-body text-center px-4 py-5 px-md-5">
                <p class="fw-bold card-text mb-2">
                  Step 3: Practicing & Broadening
                </p>
                <p class="card-title mb-3">
                  We will practice mock interviews and coding challenges to
                  prepare you for the real interview.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container py-5">
    <div class="row mb-5">
      <div class="text-center mx-auto">
        <h2 class="">Un-Learn and Re-Learn</h2>
        <p
          class="text-muted mb-5 col-md-8 col-xl-4 col-xxl-6 text-center mx-auto pt-3"
        >
          We will help you to unlearn the bad habits and relearn the best
          practices. We know what interviewers don't like to see in your code
          and avoid mistakes like the following. We will teach you to
          over-engineer your code to make it more readable, maintainable and
          scalable.
        </p>
        <div>
          <img
            src="https://res.cloudinary.com/dpugbcmpg/image/upload/v1690451378/mistake_gn6jqp.png"
            alt="coding mistake you don't want to make in interview"
            height="400"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 mt-5">
  <div class="container py-5">
    <div class="row mb-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2 class="">FAQs</h2>

        <div class="accordion pt-5" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse1"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                How is it different from bootcamp?
              </button>
            </h2>
            <div
              id="collapse1"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Bootcamps teach people how to do a generic task. They are often
                broad and do not cover all the grounds you need to be successful
                at interviews and in your job. They are also expensive and do
                not provide 1-on-1 mentorship. However, we provide 1-on-1
                mentorship and all the support you need to be successful at your
                interviews and in your job.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Why not just learn from free resources?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                We encourage you to learn on your own from high quality
                resources available online like Mozilla Developer Network,
                Google Developers, FreeCodeCamp or Coursera. However, our
                experiences suggest that you will need a clear path to follow
                and a mentor to guide you through the process to avoid burnout
                and frustration.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                How long will it take to get a job?
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                In short, it depends on where you are at and what you want to
                achieve. In general, it takes 3-6 months to get a job. However,
                we have seen people getting a job in 1 month and some people
                taking 1 year. It all depends on your current skill level and
                how much time you are willing to put in.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                What is the cost?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Please visit our pricing page for more details.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2 class="">Contact</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-xl-4">
        <div>
          <form class="p-3 p-xl-4" method="post" data-bs-theme="light">
            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                id="name-1"
                name="name"
                placeholder="Name"
              />
            </div>
            <div class="mb-3">
              <input
                class="form-control"
                type="email"
                id="email-1"
                name="email"
                placeholder="Email"
              />
            </div>
            <div class="mb-3">
              <textarea
                class="form-control"
                id="message-1"
                name="message"
                rows="6"
                placeholder="Message"
              ></textarea>
            </div>
            <div>
              <button
                class="btn btn-outline-success shadow d-block w-100"
                type="submit"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
      <div
        class="col-md-4 col-xl-4 d-flex justify-content-center justify-content-xl-start"
      >
        <div
          class="d-flex flex-wrap flex-md-column justify-content-md-start align-items-md-start h-100"
        >
          <div class="d-flex align-items-center p-3">
            <div
              class="bs-icon-md bs-icon-circle bs-icon-success shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
                class="bi bi-envelope"
              >
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
                ></path>
              </svg>
            </div>
            <div class="px-2">
              <h6 class="fw-bold mb-0">Email</h6>
              <p class="text-muted mb-0">info@codingtutor.online</p>
            </div>
          </div>
          <div class="d-flex align-items-center p-3">
            <div
              class="bs-icon-md bs-icon-circle bs-icon-dark shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
                class="bi bi-pin"
              >
                <path
                  d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408-.002-.001.002.001zm-.002-.001.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"
                ></path>
              </svg>
            </div>
            <div class="px-2">
              <h6 class="fw-bold mb-0">Location</h6>
              <p class="text-muted mb-0">Sydney, Australia</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
