<section class="pricing py-5">
 <h1 class="text-center">Pricing</h1>
 <div class="seperator-line"></div>
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase">Free</h5>
            <h6 class="card-price">$0<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Assessment</li>
            </ul>
            <a href="#" class="btn btn-block primary-btn text-uppercase">Get started</a>
          </div>
        </div>
      </div>
      <!-- Bronze Tier -->
      <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase">Bronze</h5>
            <h6 class="card-price">$29<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Assessment</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Benefits</li>
            </ul>
            <a href="#" class="btn btn-block primary-btn text-uppercase">Get started</a>
          </div>
        </div>
      </div>
      <!-- Silver Tier -->
      <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase">Silver</h5>
            <h6 class="card-price">$49<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Assessment</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Benefits</li>
            </ul>
            <a href="#" class="btn btn-block primary-btn text-uppercase">Get started</a>
          </div>
        </div>
      </div>
      <!-- Gold Tier -->
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase">Gold</h5>
            <h6 class="card-price">$99<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Assessment</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Benefits</li>
            </ul>
            <a href="#" class="btn btn-block primary-btn text-uppercase">Get started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
