/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .hero-background {
   background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://res.cloudinary.com/dpugbcmpg/image/upload/v1690624341/next-academy-JyJwO0K5fWM-unsplash_dsrfi0.jpg');
   background-size: cover;
   height: 75vh;
   background-position: center;
}

.subheading {
   color: #cacaca;
}

.seperator-line {
   border-top: 2px solid #cacaca;
   width: 20%;
   display: flex;
   justify-content: center;
   margin: 2rem auto;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 2rem;
}

.wall {
   width: 100%;
   justify-content: center;
   margin: 1rem auto;
}

.brick {
   /* background-color: rgba(0, 0, 0, 0.6); */
   padding: 1rem;
   /* border-radius: 2rem; */
   border: 1px solid #cacaca;
}

.curriculum-pyramid {
   /* border: 3px solid #cacaca; */
   border-radius: 2%;
   background: url('/icons/ocean.svg');
   background-size: cover;
   background-position: center;
   padding: 18rem 10rem;
   /* height: 50vh; */
}

/* .one-on-one-card {
   background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://res.cloudinary.com/dpugbcmpg/image/upload/v1690672261/1-1_kirxbn.png');
   background-size: cover;
   color: #fff;
} */