/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 bs-icon-dark {
    color: #fff;
    /* background-color: #343a40; */
 }

 .bg-primary-subtle {
    /* background-color: #fff !important; */
    border: 1px solid #343a40 !important;
 }

 .hero-background {
   /* background-color: #171919; */
   /* color: #fff; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }

 .hero-text, hero.text > a {
   /* color: #fff; */
 }

 footer ul li a {
    /* color: #cacaca; */
 }

 .list-unstyled li {
    /* color: #cacaca; */
 }

.text-white {
  /* color: #fff !important; */
}

.secondary-text {
   color: #6c757d !important;
}