@import url('./variables.css');

.contact-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 1rem 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.bs-icon-md {
    font-size: 1.4rem;
    color: white;
    margin: 0 1rem;
    background-color: var(--primary-color);
}