@import url('./variables.css');

.hero-background {
  /* background: url('/icons/hero.png'); */
  /* background-size: cover; */
  /* background-position: center; */
  /* height: 50vh; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: var(--primary-color);
}

.jumbotron {
  /* background-color: rgba(0, 0, 0, 0.6); */
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding: 2rem;
    border-radius: 0px;
  }
}

.primary-btn {
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.subheading {
  color: white;
}