@import url('./variables.css');

.bg-primary-subtle {
  background-color: var(--tertiary-color) !important;
  color: white !important;
}

@media screen and (max-width: 768px) {
  .bg-primary-subtle {
    margin: 0.5rem !important;
  }
  
}